---
---

// variables
$sectionSeparator: 1em;
$textFadeHeight: 2em;
// $textFadeHeight: 2em;
$colorBubble: #dddf;
$colorBubbleTransparent: #ddd0;
$colorBackground: #ffff;
$colorBackgroundTransparent: #fff0;
$colorBlubBackground: #2ba6cb;
$colorBlubText: #fff;
$colorSpeechText: #0a0a0a;
$colorCaptionBackground: $colorBubble;
$colorCaption: $colorSpeechText;


// mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// global styilng

body{
  padding: 1em 0 0 0;
  position: relative;
}

.more{
  margin-top: $sectionSeparator;
}

.excerpt a img{
  margin-bottom: 1em;
}

.reveal{
  width: auto;
  //min-width: 37.5em;
}

button.close-button{
  background-color: $colorBackground;
  border-radius: 0;
  padding: .1em;
}

// image captions https://shermandigital.com/blog/create-an-overlay-image-caption-for-foundation/
.excerpt-image-container{
  position: relative;
  display: block;
}

.caption-container{
  position: relative;
  bottom: 1em;
  left: 0;
  background-color: $colorCaptionBackground;
  color: $colorCaption;
  opacity: 0.75;
  width: 100%;
}

.caption-content{
  padding: .5em;
  margin: 0;
}

// index

#kepler-greeting{
  float: left;
  display: inline-block;
  width: 13%;
  min-width: 3.3em;
  padding: 0 .5em .5em 0;
}

section {
  float: none;
  clear: both;
}

div.index-excerpt{
  margin-bottom: 1em;
}

/*---- Speech Bubbles from https://leaverou.github.io/bubbly/ ---*/
// speech bubble definition

.speech-container{
  position: relative;
}

.speech-bottom{
  position: absolute;
  background-color: $colorBubble;
  height: $textFadeHeight;
  width: 100%;
}

.speech{
  background-color: $colorBubble;
  padding: 1em;
  position: relative;
  align-self: flex-start;
  @include border-radius(1em 1em 0 0);
}

.speech p:last-child{
  margin-bottom: -1em;
}

.attribution{
  position: sticky;
  bottom: 0;
  z-index: 2;
}

.bubble{
  height: $textFadeHeight;
  background: linear-gradient($colorBubbleTransparent,$colorBubble);
  position:relative;
  z-index: inherit;
}

.speaker{
  background-color: $colorBackground;
  padding-top: 1em;
}

.bubble::after{
  content: '';
  position: absolute;
  bottom: -$textFadeHeight;
  width: 0;
  height: 0;
  border: 1em solid transparent;
  border-top-color: $colorBubble;
  border-bottom: 0;
  margin-bottom: 1em;
  z-index: inherit;
}

// voice definition
.voice-kepler .bubble::after{
  margin-left: 0;
  border-left: 0;
  left: 0;
}

.voice-emandm .bubble::after, .voice-lightning .bubble::after{
  margin-right: 0;
  border-right: 0;
  right: 0;
}

.voice-emandm .bubble, .voice-emandm .speaker, .voice-lightning .bubble, .voice-lightning .speaker{
  text-align: right;
}

.voice-emandm p, .voice-lightning p{
  text-align:left;
}

.voice-kepler .bubble, .voice-kepler .speech-bottom{
  @include border-radius(0 0 1em 0);
  z-index: inherit;
}

.voice-emandm .bubble, .voice-emandm .speech-bottom, .voice-lightning .bubble, .voice-lightning .speech-bottom{
  @include border-radius(0 0 0 1em);
  z-index: inherit;
}

/*--- blub ---*/

body.page{
  background-color: $colorBlubBackground;
  color: $colorBlubText;
}

.page a{
  color: $colorBlubText;
}

.page .speech{
  color: $colorSpeechText;
}

.page .speaker{
  background-color: $colorBlubBackground;
}

#snail-container{
  position: fixed;
  bottom: -10px;
  right: -90px;
  z-index: 3;
  transition: right 10s;
}

#snail-container.moved{
  right: 100vw;
  width: 90px;
}
