---
---

// variables
$sectionSeparator: 1em;
$colorBubble: #ddd;

// mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// global styilng

body{
  padding: 1em 0;
}

.more{
  margin-top: $sectionSeparator;
}

/*---- Speech Bubbles from https://leaverou.github.io/bubbly/ ---*/

// speech bubble definition

.speech{
  background-color: $colorBubble;
  padding: 1em;
  position: relative;
  align-self: flex-start;
}

.speech:after{
  content: '';
  position: sticky;
  bottom: 0;
  width: 0;
  height: 0;
  border: 1em solid transparent;
  border-top-color: #f00;
  border-bottom: 0;
  margin-bottom: 1em;
  z-index: 2;
}

// voice definition
.voice-kepler{
  @include border-radius(1em 1em 1em 0);
}

.voice-kepler:after{
  margin-left: -1em;
  border-left: 0;
  left: .5em;
}

.voice-emandm{
  @include border-radius(1em 1em 0 1em);
  text-align: right;
}


.voice-emandm:after{
  margin-right: -1em;
  border-right: 0;
  right: .5em;
}

.voice-emandm p{
  text-align:left;
}
