---
---

// variables
$sectionSeparator: 1em;
$colorBubble: #dddf;
$colorBubbleTransparent: #ddd0;
$colorBackground: #ffff;
$colorBackgroundTransparent: #fff0;

// mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// global styilng

body{
  padding: 1em 0;
}

.more{
  margin-top: $sectionSeparator;
}

/*---- Speech Bubbles from https://leaverou.github.io/bubbly/ ---*/

// speech bubble definition

.speech-container{
  position: relative;
}

.speech-bottom{
  position: absolute;
  background-color: $colorBubble;
  height: 2em;
  width: 100%;
}

.speech{
  background-color: $colorBubble;
  padding: 1em;
  position: relative;
  align-self: flex-start;
}

.speech p:last-child{
  margin-bottom: -1em;
}

/*
.speech::after{
  content: '';
  background-color: $colorBubble;
  height: 2em;
  width: 100%
  position: absolute;
  display: block;
}
*/

.attribution{
  position: sticky;
  bottom: 0;
  background: linear-gradient($colorBackgroundTransparent 2em,$colorBackground 2em);
}

.bubble{
  height: 2em;
  background: linear-gradient($colorBubbleTransparent,$colorBubble);
  position:relative;
}

.bubble::after{
  content: '';
  position: absolute;
  bottom: -2em;
  width: 0;
  height: 0;
  border: 1em solid transparent;
  border-top-color: $colorBubble;
  border-bottom: 0;
  margin-bottom: 1em;
  z-index: 2;
}

// voice definition
.voice-kepler .bubble::after{
  margin-left: 0;
  border-left: 0;
  left: 0;
}

.voice-emandm .bubble::after{
  margin-right: 0;
  border-right: 0;
  right: 0;
}

.voice-emandm .bubble, .voice-emandm .speaker{
  text-align: right;
}

.speaker-emandm:before{
  margin-right: -1em;
  border-right: 0;
  right: .5em;
}

.voice-emandm p{
  text-align:left;
}
