---
layout: post
excerpt_separator: <!--more-->
title:  "Baby!"
permalink: /baby/post.html
---
<div class="grid-x grid-margin-x excerpt">
  <div class="cell small-12 medium-8 large-9">
    <p>Em is growing a human. If this is a surprise to you, welcome to the club.
    </p>
  </div>
</div>
<div class="grid-x grid-margin-x excerpt excerpt-images">
    <div class="cell small-6 medium-4 large-3">
      <a data-open="emandm-before" class="cell small-6 medium-4 large-4 excerpt-image-container">
          <img data-interchange="[{{ site.baseurl }}/img/emandm-before_btu4pn/emandm-before_btu4pn_c_scale,w_276.jpg, small], [{{ site.baseurl }}/img/emandm-before_btu4pn/emandm-before_btu4pn_c_scale,w_572.jpg, medium], [{{ site.baseurl }}/img/emandm-before_btu4pn/emandm-before_btu4pn_c_scale,w_788.jpg, large]" >
          <div class="caption-container">
            <p class="caption-content">
              Em and Mike in the yard before child, pretending to be trees. Photo credit: Burlap.
            </p>
          </div>
      </a>

    </div>
    <div class="cell small-6 medium-4 large-3">
      <a data-open="emandm-after" class="cell small-6 medium-4 large-4 excerpt-image-container">
          <img data-interchange="[{{ site.baseurl }}/img/emandm-after_obfmby/emandm-after_obfmby_c_scale,w_276.jpg, small], [{{ site.baseurl }}/img/emandm-after_obfmby/emandm-after_obfmby_c_scale,w_628.jpg, medium], [{{ site.baseurl }}/img/emandm-after_obfmby/emandm-after_obfmby_c_scale,w_628.jpg, large]" >
          <div class="caption-container">
            <p class="caption-content">
              Em and Mike in the temporary kitchen. Note baby bump. Photo credit: Aneudy Alba.
            </p>
          </div>
      </a>
    </div>
</div>
<div class="reveal" id="emandm-before" data-reveal>
  <img data-interchange="[{{ site.baseurl }}/img/emandm-before_btu4pn/emandm-before_btu4pn_c_scale,w_788.jpg, small], [{{ site.baseurl }}/img/emandm-before_btu4pn/emandm-before_btu4pn_c_scale,w_1287.jpg, medium], [{{ site.baseurl }}/img/emandm-before_btu4pn/emandm-before_btu4pn_c_scale,w_2000.jpg, large]" >
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="emandm-after" data-reveal>
  <img data-interchange="[{{ site.baseurl }}/img/emandm-after_obfmby/emandm-after_obfmby_c_scale,w_869.jpg, small], [{{ site.baseurl }}/img/emandm-after_obfmby/emandm-after_obfmby_c_scale,w_1248.jpg, medium], [{{ site.baseurl }}/img/emandm-after_obfmby/emandm-after_obfmby_c_scale,w_2000.jpg, large]" >
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!--more-->
<div class="reveal" id="baby" data-reveal>
  <img data-interchange="[{{ site.baseurl }}/img/baby_xbjpew/baby_xbjpew_c_scale,w_634.jpg, small], [{{ site.baseurl }}/img/baby_xbjpew/baby_xbjpew_c_scale,w_959.jpg, medium], [{{ site.baseurl }}/img/baby_xbjpew/baby.jpg, large]" >
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="grid-x grid-margin-x more" id="speeches">
    <div class="cell small-12 medium-6 large-6 speech-container voice-kepler">
      <div class="speech">
        <p>
          There will be another human around soon, so I'll have someone else to boss around. I guess that will be all right.
        </p>
      </div>
      {% include attribution-kepler.html %}
    </div>
    <div class="cell small-12 medium-6 large-6 speech-container voice-emandm">
      <div class="speech">
        <p>
          The two of us traded positions on opposite sides of whether to have a kid a couple of times. Now we are both excited to see the world through our future child's eyes.
        </p>
        <p>
          For Mike, he had a bit of an epiphany when taking his grandma to a doctor's appointment, repeating things to her in his loud grandma voice to make sure she knew what was going on and sitting in waiting rooms with her, and he thought - this is on its face a really annoying thing to do, but somehow, I am not annoyed because I get to be here with my grandma, and I know how important that is to her. So taking care of friends and family seemed exactly like what he should be doing in this next chapter.
        </p>
        <p>
          We are due April 5. Here's a sonogram from a while back, conveniently annotated by the ultrasound tech.
        </p>
        <p>
          <a data-open="baby">
            <img data-interchange="[{{ site.baseurl }}/img/baby_xbjpew/baby_xbjpew_c_scale,w_634.jpg, small], [{{ site.baseurl }}/img/baby_xbjpew/baby_xbjpew_c_scale,w_859.jpg, medium], [{{ site.baseurl }}/img/baby_xbjpew/baby.jpg, large]" >
          </a>
        </p>
      </div>
      {% include attribution-us.html %}
    </div>
</div>
