---
layout: post
excerpt_separator: <!--more-->
title:  "Front Porch"
permalink: /porch/post.html
---
<div class="grid-x grid-margin-x excerpt">
  <div class="cell small-12 medium-8 large-9">
    <p>We had a new front entryway built.
    </p>
  </div>
</div>
<div class="grid-x grid-margin-x excerpt excerpt-images">
    <div class="cell small-6 medium-4 large-3">
      <a data-open="porch-before" class="cell small-6 medium-4 large-4 excerpt-image-container">
          <img data-interchange="[{{ site.baseurl }}/img/front-entry-before/front-entry-before_jfsruz_c_scale,w_276.jpg, small], [{{ site.baseurl }}/img/front-entry-before/front-entry-before_jfsruz_c_scale,w_596.jpg, medium], [{{ site.baseurl }}/img/front-entry-before/front-entry-before_jfsruz_c_scale,w_659.jpg, large]" >
          <div class="caption-container">
            <p class="caption-content">
              Before: a face with no nose
            </p>
          </div>
      </a>
    </div>
    <div class="cell small-6 medium-4 large-3">
      <a data-open="porch-after" class="cell small-6 medium-4 large-4 excerpt-image-container">
          <img data-interchange="[{{ site.baseurl }}/img/front-entry-after_g9tv58/front-entry-after_g9tv58_c_scale,w_276.jpg, small], [{{ site.baseurl }}/img/front-entry-after_g9tv58/front-entry-after_g9tv58_c_scale,w_628.jpg, medium], [{{ site.baseurl }}/img/front-entry-after_g9tv58/front-entry-after_g9tv58_c_scale,w_628.jpg, large]" >
          <div class="caption-container">
            <p class="caption-content">
              After: a face with a nose
            </p>
          </div>
      </a>
    </div>
</div>
<div class="reveal" id="porch-before" data-reveal>
  <img data-interchange="[{{ site.baseurl }}/img/front-entry-before/front-entry-before_jfsruz_c_scale,w_659.jpg, small], [{{ site.baseurl }}/img/front-entry-before/front-entry-before_jfsruz_c_scale,w_1080.jpg, medium], [{{ site.baseurl }}/img/front-entry-before/front-entry-before_jfsruz_c_scale,w_1080.jpg, large]" >
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="reveal" id="porch-after" data-reveal>
  <img data-interchange="[{{ site.baseurl }}/img/front-entry-after_g9tv58/front-entry-after_g9tv58_c_scale,w_628.jpg, small], [{{ site.baseurl }}/img/front-entry-after_g9tv58/front-entry-after_g9tv58_c_scale,w_1080.jpg, medium], [{{ site.baseurl }}/img/front-entry-after_g9tv58/front-entry-after_g9tv58_c_scale,w_1080.jpg, large]" >
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!--more-->
<div class="grid-x grid-margin-x more" id="speeches">
    <div class="cell small-12 medium-6 large-6 speech-container voice-kepler">
      <div class="speech">
        <p>
          This guy, Jay, kept coming in the house with his work boots. I wasn't amused, so I gave him my death stare to force him outside of the house. It worked, and he spent a few days outside the front door. Here's what my view looked like before he started.
        </p>
        <p>
          <img data-interchange="[{{ site.baseurl }}/img/front-entry-inside_qazksr/front-entry-inside_qazksr_c_scale,w_645.jpg, small], [{{ site.baseurl }}/img/front-entry-inside_qazksr/front-entry-inside_qazksr_c_scale,w_896.jpg, medium], [{{ site.baseurl }}/img/front-entry-inside_qazksr/front-entry-inside_qazksr_c_scale,w_1079.jpg, large]" >
        </p>
        <p>
          Here's my view afterwards.
        </p>
        <p>
          <img data-interchange="[{{ site.baseurl }}/img/front-entry-inside_qazksr/front-entry-inside_qazksr_c_scale,w_645.jpg, small], [{{ site.baseurl }}/img/front-entry-inside_qazksr/front-entry-inside_qazksr_c_scale,w_896.jpg, medium], [{{ site.baseurl }}/img/front-entry-inside_qazksr/front-entry-inside_qazksr_c_scale,w_1079.jpg, large]" >
        </p>
      </div>
      {% include attribution-kepler.html %}
    </div>
    <div class="cell small-12 medium-6 large-6 speech-container voice-emandm">
      <div class="speech">
        <p>
          Before this project, it was a bit awkward to let people in the front door. It involved waving hello with the screen door shut, asking them to back down the stairs so that we could open the screen door, and then asking them to come back up the stairs to come inside. It made for a difficult Halloween or two - fortunately no small Power Rangers were injured. Now entering the front door is a lot more natural.
        </p>
        <p>
          Em described the front of the house before this project as a face without a nose. Our contractor, Jay now describes it as the best looking nose on the street.
        </p>
        <p>
          Em dreams of a southern-inspired porch that wraps around multiple sides of the house. Mike loves tiny houses. Now we have a tiny front porch.
        </p>
      </div>
      {% include attribution-us.html %}
    </div>
</div>
