---
name: home
---

{% include header.html %}
      <section>
        {{ content }}
      </section>
      <section>
          {% for post in site.posts %}
            <div class="index-excerpt">
              <a href="{{ site.baseurl }}{{ post.url }}">
                <h2>{{ post.title }}</h2>
              </a>
              {{ post.excerpt }}
              <a href="{{ site.baseurl }}{{ post.url }}">
                Read more...
              </a>
            </div>
          {% endfor %}
      </section>
{% include footer.html %}
