---
name: home
---

{% include header.html %}
      <section>
        {{ content }}
      </section>
      <hr >
      <section>
          {% for post in site.posts %}
            <div class="index-excerpt">
              <a href="{{ site.baseurl }}{{ post.url }}">
                <h2>{{ post.title }}</h2>
              </a>
              {{ post.excerpt }}
              <a href="{{ site.baseurl }}{{ post.url }}">
                Read more...
              </a>
            </div>
            <hr >
          {% endfor %}
      </section>
      <section>
        <div class="grid-x grid-margin-x excerpt">
          <div class="cell small-12 medium-8 large-9">
            <p>Have a happy and joyful holiday season, and I’ll see you in the New Year!
            <br >
            - Kepler &#128008;
            </p>
          </div>
        </div>
      </section>
{% include footer.html %}
